* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  /* Typography */
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-xl: 20px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

body[data-theme="dark"] {
  --colors-text: rgb(255, 255, 255);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme="light"] {
  --colors-text: rgb(17, 21, 23);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Main */
.main {
  padding: 4rem 0;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem 0;
  }
}

/* Header */
.header {
  padding: 30px 0;
  border-bottom: 2px solid rgba(143, 138, 138, 0.338);
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--colors-text);
}
.header__switcher {
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--colors-text);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);

  cursor: pointer;
  text-transform: capitalize;
}

/* Inputs */
.input-container {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  max-width: 280px;
  width: 100%;

  background-color: var(--colors-ui-base);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
}

.input-container__search {
  border: none;
  outline: none;
  margin-left: 5px ;
  font-size: var(--fs-md);
  font-weight: var(--fw-normal);

  background-color: var(--colors-ui-base);
  color: var(--colors-text);
}
.input-container__search_icon {
  width: 20px;
  height: 24px;
}
@media (max-width: 768px) {
  .input-container {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
  }
}

/* CUSTOM SELECT */

.custom-select {
  position: relative;

  width: 200px;
  height: 100%;

  background-color: var(--colors-bg);
  color: var(--colors-text);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.custom-select__switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  text-align: center;
  font-size: var(--fs-md);
  font-weight: var(--fw-normal);

  background-color: var(--colors-bg);
  color: var(--colors-text);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
}

.custom-select__list {
  position: absolute;
  width: 100%;

  background-color: var(--colors-bg);
  color: var(--colors-text);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
}
.custom-select__item {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.custom-select__item.active {
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
}

.custom-select__item:hover {
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .custom-select {
    width: 100%;
  }
}

/* LIST */

.countries__list {
  width: 100%;
  padding: 2.5rem 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  background-color: var(--colors-bg);
  color: var(--colors-text);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
}

@media (max-width: 1024px) {
  .countries__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
  }
}
@media (max-width: 768px) {
  .countries__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }
}
@media (max-width: 550px) {
  .countries__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }
}

/* CARD */
.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
  height: 100%;
  cursor: pointer;

  border-radius: var(--radii);
  background-color: var(--colors-bg);
  box-shadow: var(--shadow);
  border-radius: var(--radii);
}
.card__wrapper:hover {
  background-color: var(--colors-ui-base);
}


.card__image {
  width: 100%;
  object-fit: cover;
}

.card__body {
  flex: 1;
  padding: 1rem;
}